<header id="header1" class="blue-bg default-header header8">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 top-left">
                    <ul class="flex">
                        <li class="email"><a href="mailto:info@educare.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@educare.com</a></li>
                        <li class="phone"><a href="tel:+1386-263-3623"> <i class="fa fa-phone" aria-hidden="true"></i>+1386-263-3623</a></li>
                    </ul>
                </div>
                <div class="col-md-offset-3 col-md-4 col-sm-6 top-right">
                    <ul class="flex flex-right">
                        <li class="flex select-icon">
                            <i class="fa fa-language" aria-hidden="true"></i>
                            <div class="select-ct">
                                <select>
                                    <option value="1">English</option>
                                    <option value="2">Bangla</option>
                                    <option value="3">Hindi</option>
                                    <option value="4">Chinese</option>
                                </select>
                            </div>
                        </li>
                        <li class="login"><a href="21-login.html" target="_blank"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Login/Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-full">
        <div class="container">
            <div class="navbar-area flex space-between">
                <div class="left-bar">
                    <div class="logo">
                        <a href="#">
                            <img src="/images/logo/text.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="right-bar flex">
                    <nav>
                        <ul id="mobile" class="main-menu  hidden-xs">
                            <li class="my-active"><a href="/">Home</a>

                            </li>
                            <li><a href="/course/clist">Courses</a>

                            </li>
                            <li><a href="/teacher/tlist">Teacher</a>

                            </li>
                            <li><a href="#">Blog</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="32-blog-home.html" target="_blank">blog home</a></li>
                                    <li><a href="33-blog-left-sidebar.html" target="_blank">blog Left sidebar</a></li>
                                    <li><a href="34-blog-right-sidebar.html" target="_blank">blog right sidebar</a></li>
                                    <li><a href="35-blog-single.html" target="_blank">blog single</a></li>
                                </ul> -->
                            </li>
                            <li><a href="#">Events</a>
                                <ul class="sub-menu">

                                </ul>
                            </li>
                             <li><a href="#">Product</a>
                                <ul class="sub-menu">
                                    <li><a href="36-shop-home.html" target="_blank">shop home</a></li>
                                    <li><a href="37-shop-grid-sidebar.html" target="_blank">shop grid sidebar</a></li>
                                    <li><a href="38-shop-list-sidebar.html" target="_blank">shop list sidebar</a></li>
                                    <li><a href="39-shop-single-product.html" target="_blank">shop single product</a></li>
                                    <li><a href="40-shop-cart.html" target="_blank">shop cart</a></li>
                                    <li><a href="41-shop-checkout.html" target="_blank">shop checkout</a></li>
                                    <li><a href="42-shop-payment.html" target="_blank">shop Payment</a></li>
                                    <li><a href="43-shop-confirmation.html" target="_blank">shop Confirmation</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                    <div class="cart">
                        <a href="#" class="icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        <div class="mini-cart-wrapper">
                            <div class="cart-head text-right">
                                <h5>Your Cart :  <span>03</span></h5>
                            </div>
                            <div class="product-cart flex">
                                <div class="p-img">
                                    <img src="img/shop/c1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="desc">
                                    <h5>Light Green tiffin Box <i class="fa fa-times" aria-hidden="true"></i></h5>
                                    <p>1pc x <span>$250</span></p>
                                </div>
                            </div>
                            <div class="product-cart flex">
                                <div class="p-img">
                                    <img src="img/shop/c2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="desc">
                                    <h5>Sky Blue Wate Bottle <i class="fa fa-times" aria-hidden="true"></i></h5>
                                    <p>2pc x <span>$250</span></p>
                                </div>
                            </div>
                            <div class="product-cart flex">
                                <div class="p-img">
                                    <img src="img/shop/c3.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="desc">
                                    <h5>Light Pink School bag <i class="fa fa-times" aria-hidden="true"></i></h5>
                                    <p>1pc x <span>$250</span></p>
                                </div>
                            </div>
                            <div class="total flex space-between">
                                <span>Subtotal</span><span>$1000.00</span>
                            </div>
                            <div class="fainal-cart">
                                <a href="#" class="btn">Go to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        <a href="#" class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                    </div>
                    <div class="search-icon hidden-xs">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="search-area">
    <div class="container">
        <div class="row fitscreen flex flex-middle relative">
            <form action="#" class="search-form">
                <input placeholder="Search your query and press “Enter”" type="text">
            </form>
        </div>
    </div>
</div>
